@import "../../styles/defines";

$breakpoint: 1350;

.base {

  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: #eee;

  img {

    width: calc(100% + 60px);
    margin: 0 -30px 25px -30px;

  }

  @include media(0, 450) {

    padding: 0 15px;

    img {

      width: calc(100% + 30px);
      margin: 0 -15px 25px -15px;

    }

  }

}

.images {

  margin: 30px auto;
  max-width: 1000px;

}

.text {

  padding: 0 0 35px;
  max-width: 700px;
  margin: 0 auto;

  p {

    line-height: 1.5;
    font-size: 19px;
    margin: 0 0 25px 0;

    @include media(0, 550) {

      font-size: 19px;

    }

    .highlight {

      background: #8600ff;
      color: white;
      padding: 0 5px;

    }

  }

  h2 {

    font-size: 30px;
    margin: 0 0 30px 0;
    position: relative;
    line-height: 1.3;
    font-weight: 300;

    @include media(0, 550) {

      font-size: 25px;

    }

  }

  h3 {

    margin: 40px 0 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $font-condensed;
    letter-spacing: 0.04em;

    i {

      font-size: 30px;
      margin: 0 14px 0 0;
      display: inline-block;
      vertical-align: middle;

    }

    &.awards {

      color: #ffac00;

    }

    &.involvement {

      color: #a43eff;

    }

    &.tech {

      color: #25c5b4;

    }

    @include media(0, 550) {

      font-size: 19px;

    }

  }

  ul {

    margin: 0;
    padding: 0 0 0 20px;

    li {

      line-height: 1.5;
      font-size: 19px;
      margin: 0 0 10px 0;

      @include media(0, 550) {

        font-size: 19px;

      }

    }

  }

}