@import "../../styles/defines";

$breakpoint: 1350;

.base {

  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: #333;

  a {

    color: $color-secondary;
    text-decoration: underline;
    font-weight: bold;

    &:hover {

      color: black;

    }

  }

  img {

    width: calc(100% + 60px);
    margin: 0 -30px 25px -30px;

  }

  @include media(0, 450) {

    padding: 0 15px;

    img {

      width: calc(100% + 30px);
      margin: 0 -15px 25px -15px;

    }

  }

}

.images {

  margin: 30px auto;
  max-width: 1000px;

}

.content {

  padding: 0 0 35px;
  display: flex;
  justify-content: space-around;

  @include media(0, 1000) {

    display: block;

  }

  p {

    line-height: 1.5;
    font-size: 19px;
    margin: 0 0 25px 0;

    mark {

      color: black;
      background: #92ffe8;
      padding: 2px;

    }

  }

  ul {

    margin: 0 0 20px;
    padding: 0 0 0 20px;

    li {

      line-height: 1.5;
      font-size: 19px;
      margin: 0 0 10px 0;

    }

  }

}

.sidebar {

  width: 35%;
  order: -1;
  max-width: 300px;

  p {

    font-size: 18px;

  }

  h3 {

    margin: 40px 0 30px;
    font-size: 22px;
    line-height: 30px;

    &.awards {

      color: #ff9400;

    }

    &.involvement {

      color: $color-secondary;
      margin: 0 0 20px;

    }

    &.tech {

      color: #25c5b4;

    }

  }

  ul {

    margin: 0;
    padding: 0 0 0 20px;

    li {

      line-height: 1.5;
      font-size: 18px;
      margin: 0 0 10px 0;

    }

  }

  @include media(0, 1000) {

    width: auto;
    margin: 40px auto 0;
    max-width: 700px;
    border-top: 2px solid #cccccc;
    padding: 40px 0 0 0;

  }

}

.main {

  width: 65%;
  max-width: 600px;

  h2 {

    font-size: 27px;
    margin: 0 0 20px 0;
    line-height: 1.5;
    font-weight: 400;

  }

  h3 {

    margin: 40px 0 20px 0;
    font-size: 23px;
    line-height: 28px;

  }

  @include media(0, 1000) {

    width: auto;
    padding: 0;
    margin: 0 auto;
    max-width: 700px;

  }

}