@import "../../styles/defines";

$breakpoint: 1350;

.base {

  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: black;

  a, a:visited, a:active {

    color: $color-secondary;
    text-decoration: underline;
    font-weight: bold;
    transition: 0.1s ease-in-out;

    &:hover {

      color: black;

    }

  }

  img {

    width: calc(100% + 60px);
    margin: 0 -30px 25px -30px;

  }

  @include media(0, 450) {

    padding: 0 15px;

    img {

      width: calc(100% + 30px);
      margin: 0 -15px 25px -15px;

    }

  }

}

.images {

  margin: 30px auto;
  max-width: 1000px;

}

.content {

  padding: 0 0 35px;
  display: flex;
  justify-content: space-around;

  @include media(0, 1000) {

    display: block;

  }

  p {

    line-height: 1.5;
    font-size: 19px;
    margin: 0 0 25px 0;

    mark {

      color: black;
      background: none;
      font-weight: 700;
      border-bottom: 2px solid #000000;

    }

  }

  ul {

    margin: 0 0 20px;
    padding: 0 0 0 20px;

    li {

      line-height: 1.5;
      font-size: 19px;
      margin: 0 0 10px 0;

    }

  }

}

.sidebar {

  width: 35%;
  max-width: 300px;

  p {

    font-size: 18px;

  }

  h3 {

    margin: 0 0 15px;
    font-size: 22px;
    color: #444;

    /*

    &.awards {

      color: #0056ff;

    }

    &.involvement {

      color: #00ae8f;

    }

    &.tech {

      color: #7425c5;

    }

    */

  }

  ul {

    margin: 0 0 35px 0;
    padding: 0 0 0 20px;

    li {

      line-height: 1.5;
      font-size: 18px;
      margin: 0 0 10px 0;
      color: #444;

    }

  }

  @include media(0, 1000) {

    width: auto;
    margin: 40px auto 0;
    max-width: 700px;
    border-top: 2px solid #cccccc;
    padding: 40px 0 0 0;

  }

}

.main {

  width: 65%;
  max-width: 600px;

  h2 {

    font-size: 34px;
    margin: 0 0 25px 0;
    line-height: 1.5;
    font-weight: 400;

    @include media(0, 450) {

      font-size: 28px;

    }

  }

  h3 {

    margin: 40px 0 20px 0;
    font-size: 25px;
    line-height: 28px;

  }

  @include media(0, 1000) {

    width: auto;
    padding: 0;
    margin: 0 auto;
    max-width: 700px;

  }

}
