p.nda {

  margin: 40px 0 0;
  border: 2px solid;
  padding: 20px 20px 20px 145px;
  font-size: 20px;
  position: relative;
  background: #ececec;

  img {

    width: 70px;
    margin: -55px 0 0 0;
    position: absolute;
    left: 30px;
    top: 50%;

  }

}