@import "../../styles/defines";

p.nda {

  margin: 40px 0 0;
  border: 2px solid;
  padding: 20px 20px 20px 145px;
  font-size: 20px;
  position: relative;
  background: #ececec;
  color: black;

  img {

    width: 70px;
    margin: -55px 0 0 0;
    position: absolute;
    left: 30px;
    top: 50%;

  }

  @include media(0,550) {

    padding: 20px;

    img {

      position: static;
      margin: 0 auto 20px;
      display: block;

    }

  }



}

img.hero {

  @include media(0, 910) {

    margin-top: 50px;

  }

}