@import "../../styles/defines";

img.mobileScreenshot {

  @include media(450) {

    max-width: 320px;
    margin: 0 auto 20px auto;
    width: auto;
    display: block;

  }

}

img.hero {

  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  display: block;

}