.hero {

  border-bottom: 2px solid black;
  background: url(/static/images/content/shutterstock/img.jpg) center center no-repeat;
  background-size: cover;
  margin: 0 0 20px 0;
  padding: 43% 0 0 0;

}