#popup{
  display: none;
  position: fixed;
  padding: 0;
  top: 0;
  bottom: 0;
  background: #eee;
  z-index: 100;
  overflow: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%;

  &.loaded{
    @include animation(growALittle 0.3s);
    @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.90));
    .content{
      display: block;
    }
  }

  .content{
    display: none;
    max-width: 1050px;
    margin: 0 auto;
  }

}

.close-popup {
  display: none;
  position: fixed;
  z-index: 200;
  backface-visibility: hidden;
  max-width: 1050px;
  margin: 0 auto;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  @include translate3d(0, 0, 0);

  i{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    background: #da465e;
    transition: background 0.15s ease-in-out;
    right: 0;
    top: 0;
    @include animation(grow 0.2s);
    @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.90));

    &:before, &:after{
      content: '';
      display: block;
      width: 2px;
      height: 36px;
      position: absolute;
      background: white;
      left: 30px;
      top: 11px;
      @include rotate(45deg);
    }

    &:after{
      @include rotate(-45deg);
    }

    &:hover{
      background: #9a3e4d;
    }
  }
}