#popup{
  display: none;
  position: fixed;
  padding: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #2c68b7, #b200ff);
  z-index: 100;
  overflow: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%;

  &.loaded{
    @include animation(growALittle 0.3s);
    @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.90));
    .content{
      display: block;
    }
  }

  .content{
    display: none;
    max-width: 1100px;
    margin: 0 auto;
  }

}

.close-popup {
  display: none;
  position: fixed;
  z-index: 200;
  backface-visibility: hidden;
  max-width: 1100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  @include translate3d(0, 0, 0);

  i{
    position: fixed;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.15s ease-in-out;
    right: 14px;
    top: 19px;
    border-radius: 60px;
    background: rgba(0,0,0,0.4);
    @include animation(grow 0.2s);
    @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.90));

    &:before, &:after{
      content: '';
      display: block;
      width: 3px;
      height: 40px;
      position: absolute;
      background: white;
      left: 29px;
      top: 10px;
      @include rotate(45deg);
    }

    &:after{
      @include rotate(-45deg);
    }

    &:hover{
      background: rgba(0,0,0,0.6);
    }
  }
}