.spinner{
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  @include fadeIn(0.5s);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  i{
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    background: url('../img/spinner.png');
    background-size: contain;
    @include rotation;
  }
}