@include keyframes(grow){
  0% {
    opacity: 0.7;
    @include scale(0.15,0.15);
  }
  100%{
    opacity: 1;
    @include scale(1,1);
  }
}

@include keyframes(growALittle){
  0% {
    opacity: 0.1;
    @include scale(0.95,0.95);
  }
  100%{
    opacity: 1;
    @include scale(1,1);
  }
}

@include keyframes(slideUp){
  0% {
    opacity: 0.1;
    @include translateX(50px);
  }
  100%{
    opacity: 1;
    @include translateX(0);
  }
}

@include keyframes(fadeIn){
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@include keyframes(growIn){
  0% {
    opacity:0;
    @include scale(0.98,0.98);
  }
  100% {
    opacity:1;
    @include scale(1,1);
  }
}

@include keyframes(rotation){
  100% {
    @include rotate(360deg);
  }
}

@include keyframes(barberpole){
  0%{
    @include translate(0, 0);
  }
  100%{
    @include translate(-32px, 0);
  }
}

@include keyframes(showProgressBar){
  0%{
    @include translate(0, -10px);
  }
  100%{
    @include translate(0, 0);
  }
}

@mixin fadeIn($duration){
  @include animation(fadeIn $duration);
  @include animation-easing(ease-in-out);
  @include animation-fill-mode(forwards);
}

@mixin rotation{
  @include animation(rotation 1.5s linear infinite);
}