/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(https://fonts.gstatic.com/s/rubik/v4/rN0AGm-UbeCy1H1Jew93RBkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(https://fonts.gstatic.com/s/rubik/v4/oip-K2YN3EYHgt8SY7FJfBkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; }
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(https://fonts.gstatic.com/s/rubik/v4/uvJKCkkt46588W3D3t_gLBkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local("Rubik Light"), local("Rubik-Light"), url(https://fonts.gstatic.com/s/rubik/v4/tRvJQnSw4lmceQIbdzOKGHYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(https://fonts.gstatic.com/s/rubik/v4/H-PGIsE3CA76bgvfUI8sM4DGDUGfDkXyfkzVDelzfFk.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(https://fonts.gstatic.com/s/rubik/v4/yliIEUJv6vLJBV8IXYupkIDGDUGfDkXyfkzVDelzfFk.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; }
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(https://fonts.gstatic.com/s/rubik/v4/Vi2gYeiEKThJHNpaE3cq54DGDUGfDkXyfkzVDelzfFk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"), url(https://fonts.gstatic.com/s/rubik/v4/p_PvaTv0YzIEJlEVv30xK6CWcynf_cDxXwCLxiixG1c.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* This only supports IE10+, and recent versions of evergreen browsers (Chrome, Safari, Firefox) */
.ellipsify {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* scale */
/* translate */
/* rotate */
/* skew */
/* perspective */
@-webkit-keyframes grow {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.15, 0.1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.15, 0.1);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes grow {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.15, 0.1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.15, 0.1);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes popIn {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.1, 0.1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.1, 0.1);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  90% {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1.2, 1.2);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes popIn {
  0% {
    opacity: 0.7;
    -webkit-transform: scale(0.1, 0.1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.1, 0.1);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  90% {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1.2, 1.2);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes growIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.98, 0.98);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.98, 0.98);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes growIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.98, 0.98);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.98, 0.98);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: rotate(360deg);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: rotate(360deg);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes barberpole {
  0% {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: translate(-32px, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(-32px, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes barberpole {
  0% {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: translate(-32px, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(-32px, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes showProgressBar {
  0% {
    -webkit-transform: translate(0, -10px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, -10px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes showProgressBar {
  0% {
    -webkit-transform: translate(0, -10px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, -10px);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background: white;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape */ }

body, a, div {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #673AB7;
  text-decoration: none; }
  a:hover {
    color: #512e90;
    text-decoration: none; }

.hidden {
  display: none; }

.noselect-highlight *::selection, .no-selection *::selection {
  background: transparent; }
.noselect-highlight *::-moz-selection, .no-selection *::-moz-selection {
  background: transparent; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, header {
  font-family: "Rubik", sans-serif;
  font-weight: 300; }

.progressbar {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  height: 6px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: white;
  -webkit-animation: showProgressBar 0.3s;
  animation: showProgressBar 0.3s;
  -webkit-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }
  .progressbar .progress {
    position: absolute;
    width: 20%;
    background: #673AB7;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out; }
  .progressbar .barberpole {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 32px 32px;
    z-index: 1001;
    width: 100%;
    -webkit-animation: barberpole 500ms linear infinite;
    animation: barberpole 500ms linear infinite; }

#popup {
  display: none;
  position: fixed;
  padding: 0;
  top: 0;
  bottom: 0;
  background: rgba(238, 238, 238, 0.95);
  z-index: 100;
  overflow: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%; }
  #popup.loaded {
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    -webkit-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.9);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.9); }
  #popup .content {
    display: block;
    max-width: 1050px;
    margin: 0 auto; }

.close-popup {
  display: none;
  position: fixed;
  z-index: 200;
  backface-visibility: hidden;
  max-width: 1050px;
  margin: 0 auto;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  transform: translate3d(0, 0, 0);
  /* IE 10, Fx 16+, Op 12.1+ */ }
  .close-popup i {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    background: #da465e;
    transition: background 0.15s ease-in-out;
    right: 0;
    top: 0;
    -webkit-animation: grow 0.2s;
    animation: grow 0.2s;
    -webkit-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.9);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.9); }
    .close-popup i:before, .close-popup i:after {
      content: '';
      display: block;
      width: 2px;
      height: 36px;
      position: absolute;
      background: white;
      left: 30px;
      top: 11px;
      -webkit-transform: rotate(45deg);
      /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      transform: rotate(45deg);
      /* IE 10, Fx 16+, Op 12.1+ */ }
    .close-popup i:after {
      -webkit-transform: rotate(-45deg);
      /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      transform: rotate(-45deg);
      /* IE 10, Fx 16+, Op 12.1+ */ }
    .close-popup i:hover {
      background: #9a3e4d; }

html.home {
  margin: 0;
  padding: 0; }
  html.home body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    background: white; }
    html.home body.popup-open {
      overflow: hidden; }
      html.home body.popup-open #popup {
        display: block; }
  html.home section .belt {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 30px;
    height: 100%;
    position: relative;
    box-sizing: border-box; }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home section .belt {
        padding: 0 15px; } }
  html.home nav {
    display: none;
    margin: 0;
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    top: 0;
    right: 0;
    z-index: 10;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    background: rgba(251, 251, 251, 0.95);
    -webkit-animation: fadeIn 0.15s;
    animation: fadeIn 0.15s;
    -webkit-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    html.home nav ul {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 300px;
      -webkit-transform: translate(-50%, -50%);
      /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      transform: translate(-50%, -50%);
      /* IE 10, Fx 16+, Op 12.1+ */ }
      html.home nav ul li {
        display: block;
        margin: 0;
        padding: 0; }
    html.home nav a {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      line-height: 70px;
      outline: none; }
      html.home nav a span {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #656565;
        transition: color 0.15s ease-in-out; }
      html.home nav a svg {
        display: inline-block;
        vertical-align: top;
        color: #c5c5c5;
        transition: fill 0.15s ease-in-out;
        fill: #464646; }
      html.home nav a:hover span, html.home nav a:active span, html.home nav a:focus span {
        color: #673AB7; }
      html.home nav a:hover svg, html.home nav a:active svg, html.home nav a:focus svg {
        fill: #673AB7; }
      html.home nav a.about svg {
        height: 39px;
        width: 50px;
        margin: 21px 12px 0 0; }
        @media only screen and (min-width: 450px) and (max-width: 999999px) and (min-height: 0px) and (max-height: 999999px) {
          html.home nav a.about svg {
            height: 58px;
            width: 60px;
            margin: 18px 20px 0 0; } }
      html.home nav a.contact svg {
        width: 50px;
        height: 37px;
        margin: 23px 9px 0 0; }
        @media only screen and (min-width: 450px) and (max-width: 999999px) and (min-height: 0px) and (max-height: 999999px) {
          html.home nav a.contact svg {
            width: 60px;
            height: 54px;
            margin: 18px 20px 0 0; } }
      html.home nav a.resume svg {
        height: 38px;
        margin: 20px 10px 0 0;
        width: 50px; }
        @media only screen and (min-width: 450px) and (max-width: 999999px) and (min-height: 0px) and (max-height: 999999px) {
          html.home nav a.resume svg {
            height: 54px;
            margin: 16px 20px 0 0;
            width: 60px; } }
    @media only screen and (min-width: 450px) and (max-width: 999999px) and (min-height: 0px) and (max-height: 999999px) {
      html.home nav ul {
        width: 330px; }
      html.home nav a {
        line-height: 90px; }
        html.home nav a span {
          font-size: 24px; } }
  html.home body > header {
    margin: 0 auto;
    max-width: 1100px;
    position: fixed;
    left: 0;
    right: 0;
    height: 1px;
    z-index: 10; }
  html.home .menu-toggle {
    display: block;
    top: 29px;
    right: 21px;
    cursor: pointer;
    font-size: 34px;
    z-index: 100;
    padding: 29px 54px 32px 10px;
    position: absolute;
    transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 50px;
    outline: none; }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home .menu-toggle {
        right: 10px;
        top: 10px; } }
    html.home .menu-toggle span, html.home .menu-toggle span:before, html.home .menu-toggle span:after {
      cursor: pointer;
      height: 2px;
      width: 45px;
      background: black;
      position: absolute;
      display: block;
      content: '';
      transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    html.home .menu-toggle span:before {
      top: -13px; }
    html.home .menu-toggle span:after {
      bottom: -13px;
      width: 30px;
      right: 0; }
    html.home .menu-toggle:hover span, html.home .menu-toggle:hover span:before, html.home .menu-toggle:hover span:after {
      background-color: #673AB7; }
    html.home .menu-toggle:hover span:after {
      width: 100%; }
    html.home .menu-toggle.active {
      box-shadow: none;
      background: #e8e8e8; }
      html.home .menu-toggle.active span {
        background-color: transparent; }
        html.home .menu-toggle.active span:before, html.home .menu-toggle.active span:after {
          top: 0;
          background-color: #666; }
        html.home .menu-toggle.active span:before {
          -webkit-transform: rotate(45deg);
          /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
          transform: rotate(45deg);
          /* IE 10, Fx 16+, Op 12.1+ */ }
        html.home .menu-toggle.active span:after {
          -webkit-transform: rotate(-45deg);
          /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
          transform: rotate(-45deg);
          /* IE 10, Fx 16+, Op 12.1+ */
          width: 100%;
          right: auto; }
      html.home .menu-toggle.active:hover span:before, html.home .menu-toggle.active:hover span:after {
        background-color: #da465e; }
  html.home #intro {
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    position: relative;
    background: #eee;
    padding: 30px 0;
    box-sizing: border-box; }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #intro {
        padding: 15px 0 30px 0; } }
    @media only screen and (min-width: 0px) and (max-width: 420px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #intro {
        height: auto;
        min-height: 0; } }
    html.home #intro h1 {
      color: #444343;
      font-size: 23px;
      margin: 0;
      font-weight: 400; }
      html.home #intro h1 img {
        width: 70px;
        height: 70px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        opacity: 0.8; }
      @media only screen and (min-width: 0px) and (max-width: 420px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #intro h1 {
          width: 200px; }
          html.home #intro h1 img {
            display: block;
            margin: 0 0 10px 0; } }
    html.home #intro h2 {
      color: #545454;
      font-size: 41px;
      position: absolute;
      top: 50%;
      left: 0;
      line-height: 1.5;
      margin: 0;
      padding: 0 80px 0 30px;
      -webkit-transform: translate(0, -50%);
      /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      transform: translate(0, -50%);
      /* IE 10, Fx 16+, Op 12.1+ */ }
      html.home #intro h2 span {
        color: #673AB7;
        padding: 0 15px;
        display: inline-block;
        line-height: 53px;
        font-size: 38px;
        margin: 0 5px 0 0;
        background: #d4dbe2; }
      @media only screen and (min-width: 0px) and (max-width: 800px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #intro h2 {
          font-size: 32px;
          padding: 0 60px 0 30px; }
          html.home #intro h2 span {
            padding: 0 10px;
            line-height: 43px;
            font-size: 30px;
            margin: 0 3px 0 0; } }
      @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #intro h2 {
          padding: 0 15px; } }
      @media only screen and (min-width: 0px) and (max-width: 420px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #intro h2 {
          position: relative;
          padding: 0;
          margin: 45px 0;
          transform: none;
          top: auto;
          left: auto; } }
    html.home #intro a.more {
      position: absolute;
      bottom: 0;
      font-size: 19px;
      line-height: 55px;
      padding: 0 20px;
      color: #673AB7;
      transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
      display: inline-block;
      vertical-align: top;
      border: 2px solid #673AB7; }
      @media only screen and (min-width: 0px) and (max-width: 420px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #intro a.more {
          display: none; } }
      html.home #intro a.more svg {
        margin: 18px 10px 0 0;
        font-size: 24px;
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 19px; }
        html.home #intro a.more svg g {
          transition: stroke 0.15s ease-in-out;
          stroke: #673AB7;
          stroke-width: 3; }
      html.home #intro a.more:hover {
        color: black;
        border-color: black; }
        html.home #intro a.more:hover svg g {
          stroke: #000000; }
  html.home #projects {
    position: relative;
    padding: 70px 0 0 0;
    box-sizing: border-box; }
    html.home #projects:after {
      content: '';
      display: table;
      clear: both; }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #projects {
        padding: 30px 0 15px; } }
    @media only screen and (min-width: 0px) and (max-width: 420px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #projects {
        padding: 0; } }
    html.home #projects h3 {
      font-size: 26px;
      margin: 0 0 40px 0;
      color: #999; }
      @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects h3 {
          padding: 0 15px; } }
      @media only screen and (min-width: 0px) and (max-width: 420px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects h3 {
          display: none; } }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #projects .belt {
        padding: 0; } }
    html.home #projects article {
      float: left;
      width: 31.33333%;
      margin: 0 1% 30px 1%;
      box-sizing: border-box;
      cursor: pointer; }
      html.home #projects article .img {
        height: 180px;
        position: relative;
        background: #eee;
        overflow: hidden; }
        html.home #projects article .img img {
          max-height: 33%;
          max-width: 52%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate3d(-50%, -50%, 0);
          /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
          transform: translate3d(-50%, -50%, 0);
          /* IE 10, Fx 16+, Op 12.1+ */ }
        html.home #projects article .img:before, html.home #projects article .img:after {
          content: '';
          display: block;
          position: absolute;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          width: 100%;
          height: 100%; }
        html.home #projects article .img:before {
          background: rgba(103, 58, 183, 0.76);
          z-index: 1; }
        html.home #projects article .img:after {
          background: url(../img/mag.png) center center no-repeat;
          background-size: 75px 75px;
          z-index: 2; }
      html.home #projects article .description p.title {
        margin: 17px 0 0 0;
        line-height: 28px;
        height: 28px;
        font-size: 18px;
        color: #333;
        transition: color 0.15s ease-in-out;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      html.home #projects article .description p.description {
        margin: 0;
        line-height: 30px;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        color: #777;
        transition: color 0.15s ease-in-out;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects article .description {
          display: none; } }
      html.home #projects article:hover p.title {
        color: #673AB7; }
      html.home #projects article:hover .img:before, html.home #projects article:hover .img:after {
        opacity: 1; }
      @media only screen and (min-width: 601px) and (max-width: 1000px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects article {
          width: 48%; }
          html.home #projects article .img {
            height: 220px; }
            html.home #projects article .img img {
              max-height: 27%;
              max-width: 50%; } }
      @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects article {
          width: 100%;
          margin: 0 0 30px 0; }
          html.home #projects article .img {
            height: 230px; }
            html.home #projects article .img img {
              max-height: 28%;
              max-width: 40%; } }
      html.home #projects article[data-id="marvel"] .img {
        background: #ef0000; }
      html.home #projects article[data-id="advizr"] .img {
        background: #3c3c3c; }
      html.home #projects article[data-id="ciro"] .img {
        background: linear-gradient(to bottom right, #5200af, #6d3aa7); }
      html.home #projects article[data-id="devotify"] .img {
        background: linear-gradient(to bottom right, #1a435b, #6c286d); }
      html.home #projects article[data-id="roadsign"] .img {
        background: #6da643; }
      html.home #projects article[data-id="nextemr"] .img {
        background: #32ba6b; }
      @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects article {
          margin: 0; } }
    html.home #projects .projects-container {
      margin: 0 -1% 0 -1%; }
      html.home #projects .projects-container:after {
        content: '';
        display: table;
        clear: both; }
      @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
        html.home #projects .projects-container {
          margin: 0; } }
  html.home #about .belt {
    padding: 50px 30px 0 30px;
    position: relative;
    box-sizing: border-box; }
    html.home #about .belt h3 {
      font-size: 26px;
      margin: 0 0 40px 0;
      color: #999; }
    html.home #about .belt img {
      width: 30%;
      border-radius: 250px;
      float: right;
      margin: -30px 0 0 0; }
    html.home #about .belt p {
      margin: 0 0 20px 0;
      line-height: 1.5;
      color: #666;
      font-size: 17px;
      width: 55%; }
      html.home #about .belt p:last-child {
        margin: 0; }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #about .belt {
        padding: 30px 15px 0 15px; }
        html.home #about .belt:before {
          display: none; }
        html.home #about .belt p {
          width: auto; }
        html.home #about .belt img {
          width: 50%;
          margin: 0 15px 15px 0;
          max-width: 250px; }
        html.home #about .belt h3 {
          margin: 0 0 20px 0; } }
    @media only screen and (min-width: 0px) and (max-width: 450px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #about .belt img {
        float: none; } }
  html.home #contact .belt {
    padding: 50px 30px;
    position: relative;
    box-sizing: border-box; }
    html.home #contact .belt:before {
      content: '';
      background: #d6d6d6;
      height: 1px;
      width: 50px;
      position: absolute;
      top: 0;
      left: 30px; }
    html.home #contact .belt h3 {
      font-size: 26px;
      margin: 0 0 40px 0;
      color: #999; }
    html.home #contact .belt ul {
      display: block;
      margin: 0 auto;
      padding: 0; }
      html.home #contact .belt ul:after {
        content: '';
        display: table;
        clear: both; }
      html.home #contact .belt ul li {
        display: block;
        margin: 0 20px 0 0;
        padding: 0;
        float: left; }
        html.home #contact .belt ul li a {
          display: block;
          position: relative;
          margin: 0;
          padding: 0;
          outline: none;
          text-align: center; }
          html.home #contact .belt ul li a span {
            ffont-size: 16px;
            color: #656565;
            transition: color 0.15s ease-in-out;
            display: block;
            line-height: 26px; }
          html.home #contact .belt ul li a svg {
            display: inline-block;
            vertical-align: top;
            color: #c5c5c5;
            transition: stroke 0.15s ease-in-out, fill 0.15s ease-in-out; }
          html.home #contact .belt ul li a:hover span, html.home #contact .belt ul li a:active span, html.home #contact .belt ul li a:focus span {
            color: #673AB7; }
          html.home #contact .belt ul li a.email svg {
            stroke: #444444;
            stroke-width: 16px;
            fill: none;
            width: 54px;
            height: 68px; }
          html.home #contact .belt ul li a.email:hover svg {
            stroke: #673AB7; }
          html.home #contact .belt ul li a.linkedin svg {
            stroke: #444444;
            stroke-width: 20px;
            fill: none;
            width: 45px;
            height: 68px; }
          html.home #contact .belt ul li a.linkedin:hover svg {
            stroke: #673AB7; }
          html.home #contact .belt ul li a.github svg {
            stroke: none;
            fill: #444;
            height: 68px;
            width: 42px; }
          html.home #contact .belt ul li a.github:hover svg {
            fill: #673AB7; }
    @media only screen and (min-width: 0px) and (max-width: 600px) and (min-height: 0px) and (max-height: 999999px) {
      html.home #contact .belt {
        padding: 15px 15px 50px 15px; }
        html.home #contact .belt:before {
          display: none; }
        html.home #contact .belt p {
          width: auto; }
        html.home #contact .belt h3 {
          margin: 0 0 20px 0; } }

#popup .project header {
  background: linear-gradient(to bottom right, #1a435b, #6c286d);
  position: relative;
  padding: 25% 0 0 0;
  height: 0; }
  #popup .project header img {
    max-height: 44%;
    max-width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    -webkit-transform: translate3d(-50%, -50%, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate3d(-50%, -50%, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  @media only screen and (min-width: 0px) and (max-width: 800px) and (min-height: 0px) and (max-height: 999999px) {
    #popup .project header {
      padding: 0;
      height: 200px; } }
#popup .project > img {
  width: 100%;
  display: block;
  margin: 0; }
#popup .project .text {
  background: white;
  padding: 0 0 30px 0; }
  #popup .project .text:after {
    content: '';
    display: table;
    clear: both; }
  #popup .project .text h1 {
    font-size: 27px;
    padding: 30px;
    margin: 0;
    line-height: 50px;
    font-weight: 400;
    color: #444444; }
  #popup .project .text h3 {
    margin: 0 0 35px 0;
    line-height: 1;
    font-weight: 400;
    font-size: 18px;
    color: #313131;
    position: relative; }
    #popup .project .text h3:after {
      content: '';
      width: 29px;
      height: 1px;
      background: #d6d2d2;
      position: absolute;
      bottom: -20px;
      left: 0; }
  #popup .project .text a.ext-link {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #aaa;
    border-radius: 50px;
    padding: 0 20px;
    margin: 0 0 0 20px;
    color: #666;
    transition: all 0.2s ease-in-out; }
    #popup .project .text a.ext-link i {
      margin: 0 0 0 5px; }
    #popup .project .text a.ext-link:hover {
      color: #673AB7;
      border-color: #673AB7; }
    @media only screen and (min-width: 0px) and (max-width: 450px) and (min-height: 0px) and (max-height: 999999px) {
      #popup .project .text a.ext-link {
        display: block;
        margin: 0;
        border-radius: 0; } }
  #popup .project .text section {
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;
    float: left;
    width: 50%; }
    #popup .project .text section p {
      margin: 0 0 20px 0;
      line-height: 1.5;
      color: #636363;
      font-size: 17px; }
      #popup .project .text section p:last-child {
        margin: 0 0 30px 0; }
    @media only screen and (min-width: 0px) and (max-width: 750px) and (min-height: 0px) and (max-height: 999999px) {
      #popup .project .text section {
        width: 100%;
        float: none; } }

/*# sourceMappingURL=main.css.map */
