@import "../../styles/defines";

.default {

  padding: 40px 0;
  position: relative;
  background: #eee;

  .belt {

    @include grid;

  }

  p {

    color: #333;
    font-size: 23px;
    margin: 0 0 20px 0;
    line-height: 1.4;
    max-width: 700px;
    display: block;

  }

  img {

    float: right;
    width: 32%;
    border-radius: 600px;
    margin: 0 0 0 40px;

  }

  @include media(0, 750) {

    text-align: center;

    img {

      width: 100%;
      float: none;
      margin: 0 0 40px 0;
      max-width: 400px;

    }

  }

  @include media(0, 500) {

    p {

      font-size: 20px;

    }

  }

}

ul.contact {

  margin: 30px 0 0 0;
  padding: 0;

  li {

    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;

    a {

      text-decoration: none;
      text-align: center;
      display: inline-block;
      border: none;
      position: relative;
      background-image: none;

      i {

        display: inline-block;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        color: black;
        font-size: 26px;
        border-radius: 45px;
        transition: all 0.1s ease-in-out;
        border: 2px solid black;

      }

      span {

        display: block;
        opacity: 0;
        position: absolute;
        bottom: -25px;
        left: -20px;
        right: -20px;
        font-size: 16px;
        color: black;
        font-weight: 700;
        transition: opacity 0.2s ease-in-out;

      }

      &:hover {

        border: none;
        @include scale(1.1,1.1);

        span {

          opacity: 1;

        }

        i {

          background: white;
          color: black;

        }

      }

    }

  }

}