@import "../../styles/defines";

@include keyframes(arrow) {
  0% {
    @include translateY(-10px);
    opacity: 0;
  }
  50% {
    @include translateY(10px);
    opacity: 1;
  }
  90% {
    @include translateY(10px);
    opacity: 1;
  }
  100% {
    @include translateY(10px);
    opacity: 0;
  }
}

.default {

  position: fixed;
  padding: 60px 30px;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(0deg, #261e36, #1d1d1d);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  @include media(0, 450) {

    padding: 30px 15px;

  }

}


.text{

  left: 50%;
  top: 50%;
  padding: 30px;
  position: absolute;
  @include translate(-50%, -50%);
  width: 80%;
  max-width: 800px;

  p {

    color: white;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
    font-family: $font;
    text-align: left;
    border-left: 4px solid $color-base;
    padding: 0 0 0 40px;

    a,a:visited {

      color: $color-base;
      transition: color 0.2s ease-in-out;

      &:hover {

        color: #da1b60;
        border: none;

      }

    }

  }

  @include media(0, 450) {

    left: auto;
    top: 50%;
    @include translateY(-50%);
    padding: 0;
    margin: 0;
    width: calc(100% - 30px);

    p {

      font-size: 28px;

      &.subtext {

        font-size: 24px;

      }

    }

  }

  @include media(375, 450) {

    p {

      font-size: 30px;

      &.subtext {

        font-size: 26px;

      }

    }

  }

}

.arrow {

  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -33px;
  width: 33px;
  height: 24px;
  @include animation(arrow 0.7s cubic-bezier(0.12, 0.63, 0.62, 0.93) infinite);

  &:before, &:after {

    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 10px;

  }

  &:before {

    @include rotateZ(-45deg);
    left: 13px;

  }

  &:after {

    @include rotateZ(45deg);
    left: 0;

  }

}