@import "../../styles/defines";

.default {

  background: white;
  position: relative;

  .belt {

    @include grid;

  }

}

.container{

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}