@import "../styles/defines";

.default {

  padding: 150px 0 50px;
  position: relative;
  display: none;

  @include media(0, 600) {

    padding: 85px 0 50px;

  }

}

.belt {

  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  padding: 0 60px;

  @include media(0, 1000) {

    display: block;
    padding: 0;

    .image {

      margin: 0 auto 50px;
      max-width: none;
      width: 100%;
      box-sizing: border-box;
      padding: 0;

      img {

        display: block;
        margin: 0 auto;
        max-width: 300px;
        border-radius: 300px;

      }

    }

    .text {

      padding: 0 15px;
      margin: 0 auto;
      text-align: center;

      p {

        text-align: left;

      }

    }

  }

  @include media(0, 450) {

    .text {

      p {

        font-size: 18px;

      }

    }

  }

}

.image {

  max-width: 500px;
  padding: 0 60px 0 0;

  img {

    width: 100%;

  }

}

.text {

  max-width: 550px;
  text-align: left;
  color: #ececec;
  padding: 0 0 0 40px;
  box-sizing: border-box;

  h2 {

    margin: 0 0 20px 0;
    font-size: 65px;
    line-height: 0.9em;
    color: $color-primary;

    @include media(0, 450) {

      text-align: left;
      font-size: 45px;

    }

  }

  p {

    font-size: 23px;
    line-height: 1.5;
    margin: 0;
    color: #ccc;

  }

}

ul.contact {

  margin: 26px 0 0 0;
  padding: 0;

  li {

    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;

    a {

      text-decoration: none;
      text-align: center;
      display: inline-block;
      border: none;
      position: relative;
      background: none;
      text-shadow: none;

      i {

        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 28px;
        background: white;
        color: #252525;
        transition: all 0.3s cubic-bezier(.3,.71,.44,1.02);
        position: relative;
        border-radius: 60px;
        opacity: 0.8;

      }

      &:hover {

        i {

          @include scale(1.1,1.1);
          opacity: 1;

        }

      }

    }

  }

}
