@import "../styles/defines";

$break: 800;

.default {

  padding: 150px 0 50px;
  position: relative;
  display: none;

  @include media(0, 600) {

    padding: 85px 0 50px;

  }

}

.belt {

  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  padding: 0 60px;

  @include media(0, $break) {

    display: block;
    padding: 0;

  }

}

.image {

  max-width: 500px;
  padding: 0 60px 0 0;

  h1 {

    margin: 0 0 40px 0;
    font-size: 53px;
    line-height: 0.9em;
    color: white;
    font-weight: 700;

  }

  img {

    width: 100%;

  }

  @include media(0, $break) {

    margin: 0 auto 50px;
    max-width: 425px;
    padding: 0 15px;

  }

}

.text {

  max-width: 550px;
  text-align: left;
  color: #ececec;
  padding: 0 0 0 40px;
  box-sizing: border-box;

  h2 {

    color: white;
    margin: 30px 0;
    font-size: 23px;
    line-height: 1;

  }

  p {

    font-size: 23px;
    margin: 0;
    color: #b6b6b6;
    max-width: 800px;
    line-height: 1.3;

    @include media(0, 1000) {

      font-size: 20px;

    }

  }

  @include media(0, $break) {

    margin: 0 auto 50px;
    padding: 0 15px;

  }

}

ul.contact {

  margin: 26px 0 0 0;
  padding: 0;

  li {

    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;

    a {

      text-decoration: none;
      text-align: center;
      display: inline-block;
      border: none;
      position: relative;
      background: none;
      text-shadow: none;

      i {

        display: inline-block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: white;
        border: 2px solid;
        transition: all 0.3s cubic-bezier(.3,.71,.44,1.02);
        position: relative;
        border-radius: 50px;

      }

      p {

        position: absolute;
        text-align: center;
        display: block;
        margin: -5px 0 0 0;
        width: 100px;
        left: -23px;
        font-size: 18px;
        color: #676767;
        font-weight: 400;
        opacity: 0;
        transition: all 0.5s cubic-bezier(.3,.71,.44,1.02);

      }

      &:hover {

        i {

          @include scale(1.2,1.2);
          opacity: 1;

        }

        p {

          @include translateY(12px);
          opacity: 1;

        }

      }

    }

  }

}
