@import "../styles/defines";

.default {

  background: #252525;
  min-height: 100vh;

}

a, a:visited {

  color: $color-primary;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid black;
  transition: all 0.2s ease-in-out;

  &:hover {

    color: $color-secondary;
    text-shadow: none;
    border-bottom: 2px solid $color-secondary;

  }

}