@import "../styles/defines";

@include keyframes(animate) {

  0%{

    background-position: 8px center;

  }

  50% {

    background-position: -38px center;

  }

  51% {

    background-position: 50px center;

  }

  100% {

    background-position: 8px center;

  }


}

@include keyframes(textAnimate) {

  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.default {

  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  left: 15px;
  position: fixed;
  box-sizing: border-box;
  top: 15px;
  z-index: 1000;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background: white;
  color: black;
  font-size: 25px;
  transition: all 0.3s cubic-bezier(0.3, 0.71, 0.44, 1.02);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  overflow: hidden;
  text-align: left;
  padding: 0 18px;
  font-family: $font;

  p {

    margin: 0;
    padding: 0;
    font-size: 19px;
    line-height: 55px;
    display: block;
    position: absolute;
    top: 0;
    right: 18px;
    opacity: 0;
    font-weight: 700;


  }

  &:hover {

    width: 215px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;

    p {

      animation: textAnimate 0.4s 0.1s normal forwards;
      animation-timing-function: cubic-bezier(0.3, 0.71, 0.44, 1.02);

    }

  }

}
