@import "../styles/defines";

@include keyframes(rock) {
  0% {
    @include transform(rotateZ(12deg));
  }
  20% {
    @include transform(rotateZ(20deg));
  }
  40% {
    @include transform(rotateZ(15deg));
  }
  60% {
    @include transform(rotateZ(22deg));
  }
  80% {
    @include transform(rotateZ(17deg));
  }
  100% {
    @include transform(rotateZ(12deg));
  }
}

.default {

  width: 200px;
  background: $color-base;
  height: 200px;
  border-radius: 200px;
  position: absolute;
  overflow: hidden;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);

  object {

    width: 73%;
    height: 73%;
    z-index: 100;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -39% 0 0 -35%;
    @include animation(rock 3.5s ease-in-out infinite);

  }

}