@import "../styles/defines";

.default {

  height: 100vh;
  min-height: 725px;
  position: relative;
  background: linear-gradient(26deg, #0067ff, #39c2f7);
  padding: 15px;
  box-sizing: border-box;

}

.logo{

  color: black;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 0.8em;
  font-size: 31px;
  margin: 0;
  display: block;
  float: left;
  width: 173px;
  font-family: $font-header;
  transition: all 0.2s ease-in-out;

  i {

    display: block;
    font-size: 17px;
    margin: 2px 0 0 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #80dcff;
    @include translateY(-5px);

  }

  &:hover {

    color: #80dcff;

    i {

      opacity: 1;
      @include translateY(0);

    }

  }

}

.text{

  color: white;
  font-size: 27px;
  line-height: 1.4;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 46%;
  padding: 0;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  max-width: 900px;
  text-align: center;

  > div {

    margin: 0 auto 40px auto;

  }

}

.downArrow {

  background: none;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  border: none;
  cursor: pointer;
  margin: 0 0 0 -25px;
  outline: none;
  transition: all 0.1s ease-in-out;

  svg{

    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    left: 0;
    top: 0;

    line, circle{

      fill: none;
      stroke-linejoin: round;
      stroke-width: 4;
      stroke: #FFF;
      transition: stroke 0.1s ease-in-out;

    }

  }

  &:hover {

    @include scale(1.1,1.1);

    svg line, svg circle {

      stroke: black;

    }

  }

}