@import "../styles/defines";

@include keyframes(bounce) {
  0% {
    @include translateY(0);
  }
  50% {
    @include translateY(5px);
  }
  100% {
    @include translateY(0);
  }
}

.default {

  position: relative;
  padding: 60px 30px;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #000000, #112b40, #6d245a);

  @include media(0, 450) {

    padding: 30px 20px;

  }

  h1 {

    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
    padding: 0 10px;
    line-height: 40px;

  }

}


.text{

  left: 50%;
  top: 50%;
  padding: 30px;
  position: absolute;
  @include translate(-50%, -50%);
  width: 80%;
  max-width: 800px;

  p {

    color: white;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 30px 0;
    font-family: $font-header;

    &.subtext {

      font-size: 33px;

    }

  }

  @include media(0, 450) {

    left: auto;
    top: 50%;
    @include translateY(-50%);
    padding: 0;
    margin: 0;

    p {

      font-size: 28px;

      &.subtext {

        font-size: 24px;

      }

    }

  }

  @include media(375, 450) {

    p {

      font-size: 30px;

      &.subtext {

        font-size: 26px;

      }

    }

  }

}

button.seeWork {

  font-weight: 700;
  background: none;
  color: white;
  font-size: 15px;
  line-height: 45px;
  padding: 0 15px;
  border: 2px solid;
  outline: none;
  transition: all 0.4s cubic-bezier(0, 1.17, 1, 0.96);
  cursor: pointer;

  i {

    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;

  }

  &:hover {

    color: $color-base;

  }

}