@import "../styles/defines";

.default {

  display: none;
  width: 300px;
  height: 300px;
  text-align: center;
  background: #444444;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -150px;
  border-radius: 50px;
  overflow: hidden;

  p {

    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    bottom: 8%;
    color: white;
    font-weight: bold;

  }

  svg {

    height: 60%;
    position: absolute;
    left: 50%;
    top: 17%;
    z-index: 1;
    @include translateX(-50%);

  }

}