@import "../styles/defines";

@include keyframes(animateOpen) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(animateClose) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.default {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: linear-gradient(0deg, #aad6fb, #d4a7ff);

  ul {

    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    @include translateY(-50%);

    li {

      display: block;
      margin: 0 0 10px;
      padding: 0;
      text-align: center;
      overflow: hidden;


      a {

        font-family: $font;
        font-size: 70px;
        text-decoration: none;
        display: inline-block;
        color: black;
        position: relative;
        transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.9);
        line-height: 80px;
        width: 400px;
        font-weight: bold;
        opacity: 0;
        @include translateY(20px);

        &.animateLinkOpen {

          opacity: 1;
          @include translateY(0);

        }

        &.animateLinkClose {

          opacity: 0;
          @include translateY(20px);

        }

        &:after {

          content: '';
          display: block;

        }

        &:hover {

          color: $color-base;

        }

      }

    }

  }

}

.animateOpen {

  @include animation(animateOpen 0.1s ease-in-out);
  @include animation-fill-mode(forwards);

}

.animateClose {

  @include animation(animateClose 0.1s ease-in-out);
  @include animation-fill-mode(forwards);

}