@import "../styles/defines";

@include keyframes(animateIn) {
  from {
    @include translateX(100%);
    opacity: 0;
  }
  to {
    @include translateX(0);
    opacity: 1;
  }
}

@include keyframes(animateOut) {
  from {
    @include translateX(0);
    opacity: 1;
  }
  to {
    @include translateX(100%);
    opacity: 0;
  }
}
.default {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: linear-gradient(90deg, #00000000, #000000);
  padding: 60px 9px 0 0;
  width: 100%;
  max-width: 800px;
  text-align: right;
  @include animation(animateIn 0.6s cubic-bezier(0,1.17,1,.96));
  @include no-selection-highlight;

  ul {

    margin: auto;
    padding: 0;
    display: block;

    li {

      margin: 0;
      padding: 0;
      display: block;

      a {

        font-size: 88px;
        text-decoration: none;
        color: $color-base;
        position: relative;
        line-height: 80px;
        font-weight: 900;
        border: none;

        @include media(0,500,0,800) {

          font-size: 60px;
          line-height: 60px;

        }

        &:after {

          content: '';
          display: block;
          height: 9px;
          position: absolute;
          left: 0;
          background: white;
          bottom: 0;
          width: 100%;
          @include transitionTransform(0.2s cubic-bezier(0,1.17,1,.96));
          @include transform(scale(0,1) translateX(100%))

        }

        &:hover {

          color: white;
          background: none;
          border: none;

          &:after {

            @include transform(scale(1,1) translateX(0))

          }

        }

      }

    }

  }

}

.animateClose {

  @include animation(animateOut 0.6s cubic-bezier(0,1.17,1,.96));
  @include animation-fill-mode(forwards);

}