@import "../styles/defines";

a.default {

  width: 45px;
  height: 42px;
  position: fixed;
  z-index: 1000;
  top: 10px;
  right: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0,0,0,0.2) 1px 1px 3px;

  span, span:before, span:after {

    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    border-radius: 10px;
    background: black;
    top: 20px;
    left: 5px;
    transition: all 0.2s ease-in-out;

  }

  span:before {

    @include translateY(-12px);
    top: 0;
    left: 0;

  }

  span:after {

    @include translateY(12px);
    top: 0;
    left: 0;

  }

  &:hover {

    span:before {

      @include translateY(-14px);

    }

    span:after {

      @include translateY(14px);

    }

  }

  &.light {

    background: none;
    box-shadow: none;

    span, span:before, span:after {

      background: white;

    }

  }

  &.open {

    background: none;
    box-shadow: none;

    span {

      background: none;

      &:before {

        @include transform(rotateZ(45deg));
        background: white;

      }

      &:after {

        @include transform(rotateZ(-45deg));
        background: white;

      }

    }

  }

}