@import "../styles/defines";

a.default{

  display: block;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 0 15px;
  position: fixed;
  transition: all 0.1s ease-in-out;
  outline: none;
  z-index: 150;
  backface-visibility: hidden;
  text-decoration: none;
  font-weight: bold;
  background: white;
  box-shadow: rgba(0,0,0,0.2) 0 0 1px;
  border-radius: 35px;
  line-height: 35px;
  color: black;

  i {

    margin: 0 5px 0 0;

  }

  &:hover {

    color: $color-base;

  }

  &.isOpen, &.isOpen:hover {

    background: black;
    color: white;

  }

}