@import "../styles/defines";

svg.default {

  transition: all 0.3s cubic-bezier(0.64, 0.38, 0.03, 1.65);
  cursor: pointer;

  circle {

    fill: #999;
    transition: fill 0.3s cubic-bezier(0.64, 0.38, 0.03, 1.65);

  }

  path {

    opacity: 1;
    fill: #999;
    transition: fill 0.3s cubic-bezier(0.64, 0.38, 0.03, 1.65);

  }

  &:hover {

    @include scale(1.1, 1.1);

    circle {

      fill: #da1b60;

    }

    path {

      fill: #da1b60;

    }


  }

}