@import "../styles/defines";

@include keyframes(animateOpen) {
  from {
    opacity: 0;
    @include scale(0.5, 0.5);
  }
  to {
    opacity: 1;
    @include scale(1, 1);
  }
}

@include keyframes(animateClose) {
  form {
    opacity: 1;
    @include translate(0,0);
  }
  to {
    opacity: 0;
    @include translate(10px,0);
  }
}

.default {

  button.backButton {

    border: none;
    background: none;
    padding: 0 5px;
    font-size: 34px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0;
    line-height: 45px;
    top: 10px;
    text-align: center;
    left: 10px;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 5px, rgba(255, 255, 255, 0.5) 0 0 10px, rgba(255, 255, 255, 0.5) 0 0 48px, white 0 0 40px;
    position: fixed;
    z-index: 2001;
    @include animation(animateOpen 0.2s ease-in-out);

    &.animateClose {

      @include animation(animateClose 0.3s ease-in-out);
      @include animation-fill-mode(forwards);

    }

    span {

      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
      width: 60px;
      text-align: left;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      padding: 0 0 0 43px;
      font-weight: bold;

    }

    &:hover {

      @include scale(1.1,1.1);

      span {

        opacity: 1;

      }

    }

  }

}