@import "../styles/defines";

.default {

  display: none;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
  background: #eee;

}

h1.title {

  text-align: center;
  line-height: 1;
  font-size: 47px;
  max-width: 650px;
  z-index: 1;
  margin: 25px auto;
  font-weight: 700;
  padding: 0 100px;
  box-sizing: border-box;
  color: #333;

  @include media(0, 500) {

    margin: 95px auto 25px;
    padding: 0 20px;
    font-size: 40px;

  }

}

.content {

  opacity: 0;

}