@import "../styles/defines";

.default {

  background: white;
  position: relative;

  .belt {

    max-width: $gridWidth;
    padding: $gridPadding;
    margin: 0 auto;
    padding-bottom: 20px;

  }

  h3 {

    font-size: 25px;
    margin: 0 auto 40px auto;
    position: relative;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: $font-header;

    span {

      position: relative;

      &:after {

        content: '';
        display: block;
        position: absolute;
        height: 3px;
        background: black;
        left: 0;
        right: 0;

      }

    }
  }

}

.container{

  margin: 0;

  @include media(550){

    margin: 0 -1.5%;

  }

}