@import "../styles/defines";

.default {

  display: none;
  min-height: 100vh;
  padding: 30px 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
  background: #eee;

  @include media(0, 700) {

    padding: 80px 0 0 0;

  }

}

h1.title {

  text-align: center;
  line-height: 1;
  font-size: 47px;
  max-width: 650px;
  z-index: 1;
  margin: 0 auto 40px auto;
  font-weight: 400;
  padding: 0 30px;
  box-sizing: border-box;
  color: #333;

  @include media(700, 900) {

    max-width: 450px;
    font-size: 40px;

  }

  @include media(0, 699) {

    font-size: 35px;

  }

  .tags {

    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #acacac;

    @include media(0, 699) {

      font-size: 17px;

    }

  }

}

.content {

  opacity: 0;

}