@import "../styles/defines";

@include keyframes(animateIn) {
  0% {
    opacity: 0;
    @include translateX(20px);
  }
  100% {
    opacity: 1;
    @include translateX(0);
  }
}

@include keyframes(animateOut) {
  0% {
    opacity: 1;
    @include translateX(0);
  }
  100% {
    opacity: 0;
    @include translateX(20px);
  }
}

@include keyframes(titleAnimateIn) {
  0% {
    opacity: 0;
    @include translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    @include translate(-50%, 0);
  }
}

@include keyframes(contentAnimateIn) {
  0% {
    opacity: 0;
    @include translate(0, 10px);
  }
  100% {
    opacity: 1;
    @include translate(0, 0);
  }
}

.default {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  background: white;
  overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 2000;
  @include animation(animateIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.9));

  h1 {

    margin: 20px auto 18px auto;
    text-align: center;
    width: calc(100% - 200px);
    line-height: 1.2;
    font-family: $font;
    font-weight: 300;
    font-size: 25px;

    @include media(0, 550) {

      font-size: 22px;

    }

    @include media(0, 400) {

      margin: 70px 0 20px 0;
      text-align: center;
      width: 100%;

    }

  }

}

.animateClose {

  opacity: 0;
  @include animation(animateOut 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.9));
  @include animation-fill-mode(forwards);

}

.content {

  display: none;
  @include animation(contentAnimateIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.9));

}

a.extLink {

  position: absolute;
  right: 12px;
  display: block;
  line-height: 70px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  top: 0;
  background: none;

  i {

    margin: 0 0 0 5px;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    line-height: 71px;

  }

  &:hover {

    color: $color-base;

  }

}