@import "../styles/defines";

@include keyframes(animateIn) {
  0% {
    opacity: 0;
    @include translateX(20px);
  }
  100% {
    opacity: 1;
    @include translateX(0);
  }
}

@include keyframes(animateOut) {
  0% {
    opacity: 1;
    @include translateX(0);
  }
  100% {
    opacity: 0;
    @include translateX(20px);
  }
}

@include keyframes(titleAnimateIn) {
  0% {
    opacity: 0;
    @include translate(-50%, 10px);
  }
  100% {
    opacity: 1;
    @include translate(-50%, 0);
  }
}

@include keyframes(contentAnimateIn) {
  0% {
    opacity: 0;
    @include translate(0, 10px);
  }
  100% {
    opacity: 1;
    @include translate(0, 0);
  }
}

.default {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  background: white;
  overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 90px 0 0 0;
  z-index: 200;
  @include animation(animateIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.9));

  @include media(0, 700) {

    padding: 140px 0 0 0;

  }

}

.animateClose {

  opacity: 0;
  @include animation(animateOut 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.9));
  @include animation-fill-mode(forwards);

}

h1.title {

  display: none;
  position: fixed;
  backface-visibility: hidden;
  @include translate3d(-50%, 0, 0);
  margin: 0;
  left: 50%;
  top: 20px;
  text-align: center;
  line-height: 1;
  font-size: 50px;
  max-width: calc(100% - 200px);
  @include animation(titleAnimateIn 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.9));
  z-index: 1;
  box-sizing: border-box;

  @include media(0, 700) {

    max-width: none;
    top: 65px;
    width: 100%;
    padding: 0 20px;

  }

}

.content {

  display: none;
  @include animation(contentAnimateIn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.9));

}