@import "../styles/defines";

.default {

  padding: 50px 0 0 0;

  .belt {

    @include grid;
    display: flex;
    flex-wrap: wrap;

    > div {

      width: 50%;

    }

    @include media(0, 800) {

      > div {

        width: 100%;

      }

    }

  }

}