#about{
  .belt{
    padding: 45px 30px;
    position: relative;
    box-sizing: border-box;
    &:before{
      content: '';
      background: #d6d6d6;
      height: 1px;
      width: 200px;
      position: absolute;
      top: 0;
      left: 30px;
    }
    h3{
      font-size: 22px;
      margin: 0 0 40px 0;
      color: #999;
      @include media(0,470){
        display: none;
      }
    }
    img{
      width: 30%;
      border-radius: 250px;
      float: right;
      margin: -30px 0 0 0;
    }
    p{
      margin: 0 0 20px 0;
      line-height: 1.5;
      color: #666;
      font-size: 17px;
      width: 55%;
    }
    @include media(0,600){
      padding: 20px 15px;
      &:before{
        display: none;
      }
      p{
        width: auto;
      }
      img{
        width: 100%;
        float: left;
        margin: 0 15px 15px 0;
        max-width: 278px;
        border-radius: 0;
        border: 2px solid;
      }
    }
    @include media(0,470){
      img{
        margin: 0 auto 37px auto;
        float: none;
        display: block;
      }
    }
  }
}