html.home{
  margin: 0;
  padding: 0;

  body{
    min-width: 320px;
    margin: 0;
    padding: 0;
    background: white;

    &.popup-open{
      overflow: hidden;
      #popup{
        display: block;
      }
      nav, .menu-toggle{
        display: none;
      }
    }
  }

  section{
    .belt{
      margin: 0 auto;
      max-width: 1100px;
      padding: 0 30px;
      height: 100%;
      position: relative;
      box-sizing: border-box;
      @include media(0,600){
        padding: 0 15px;
      }
    }
    h3{
      font-size: 33px;
      margin: 0 0 25px 0;
      color: #000000;
      text-transform: uppercase;
      font-family: $font-header;
      font-weight: 600;
      @include media(0,600){
        display: none;
      }
    }
  }
}

@import "nav";
@import "intro";
@import "projects";
@import "skills";
@import "about";
@import "popup.project";