html.home{
  margin: 0;
  padding: 0;

  body{
    min-width: 320px;
    max-width: 1685px;
    margin: 0 auto;
    padding: 0;
    background: white;

    &.popup-open{
      overflow: hidden;
      #popup{
        display: block;
      }
    }
  }

  @import "nav";
  @import "intro";
  @import "projects";
  @import "skills";
  @import "footer";
}

@import "popup.project";