#intro{
  height: 100vh;
  min-height: 675px;
  max-height: 1200px;
  position: relative;
  background: linear-gradient(to bottom, #2371d8, #e461d4);
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  @include clearfix;
  a.logo{
    color: #000;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    float: left;
    text-transform: uppercase;
    font-family: $font-header;
    width: 100px;
    line-height: 0.8em;
    font-size: 30px;
    @include media(600){
      width: auto;
      margin: 22px 0 0 20px;
      font-size: 26px;
    }
  }
  .text{
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    color: white;
    @include translate(0, -50%);
    @include media(0,500){
      top: 54%;
    }
  }
  h2{
    font-family: $font-header;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 auto;
    color: white;
    max-width: 897px;
    padding: 0;
    display: block;
    text-align: center;
    @include media(0,1100){
      font-size: 34px;
      max-width: 762px;
      padding: 0 30px;
    }
    @include media(0,500){
      padding: 0 15px;
      font-size: 29px;
      line-height: 1.3em;
    }
  }
  a[data-jump="projects"]{
    position: absolute;
    bottom: 40px;
    font-size: 23px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    left: 50%;
    border-radius: 60px;
    width: 60px;
    background: rgba(0,0,0,0.4);
    border: none;
    @include translateX(-50%);
    transition: background 0.3s ease-in-out;
    svg{
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 30px;
      margin: 15px 0 0 15px;
      g{
        stroke: white;
        stroke-width: 3px;
      }
    }
    &:hover{
      background: rgba(0,0,0,1);
    }
  }
  .gears{
    width: 179px;
    height: 168px;
    position: relative;
    margin: 0 auto 30px auto;
  }
  #gear1{
    @include animation(rotation 50s linear infinite);
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    z-index: 1;
  }
  #gear2{
    @include animation(rotation 25s linear infinite);
    animation-direction: reverse;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
  }
}