#intro{
  height: 100vh;
  min-height: 725px;
  position: relative;
  background: linear-gradient(26deg, #0067ff, #39c2f7);
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  @include clearfix;
  a.logo{
    color: #000;
    font-weight: 600;
    cursor: pointer;
    float: left;
    text-transform: uppercase;
    font-family: $font-header;
    line-height: 0.8em;
    font-size: 42px;
    width: 106px;
    margin: 18px 0 0 15px;
    transition: all 0.2s ease-in-out;
    &:hover{
      @include translateY(-5px);
      color: $color-base;
    }
    @include media(0, 600) {
      font-size: 37px;
      margin: 0;
    }
  }
  .text{
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    color: white;
    @include translate(0, -50%);
    @include media(0,500){
      top: 50%;
    }
  }
  h2{
    font-family: $font-header;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    color: white;
    max-width: 897px;
    padding: 0;
    display: block;
    text-align: center;
    strong {
      display: inline-block;
      vertical-align: top;
      background: white;
      color: #1996fc;
      line-height: 1.4;
      font-weight: 400;
      padding: 0 11px;
    }
    @include media(601,1100){
      font-size: 34px;
      max-width: 762px;
      padding: 0 30px;
    }
    @include media(0,600){
      padding: 0 15px;
      font-size: 28px;
      line-height: 1.2em;
    }
  }
  a[data-jump="projects"]{
    position: absolute;
    bottom: 40px;
    font-size: 23px;
    line-height: 60px;
    padding: 0;
    margin: 0 0 0 -30px;
    left: 50%;
    border-radius: 60px;
    width: 60px;
    transition: all 0.2s ease-in-out;
    background: rgba(0,0,0,0);
    svg{
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
      width: 29px;
      height: 30px;
      margin: 15px 0 0 15px;
      g{
        stroke: white;
        stroke-width: 3px;
      }
    }
    &:hover{
      @include scale3d(1.1, 1.1, 1);
      background: rgba(0,0,0,0.5);
    }
  }
  .capsule{
    width: 179px;
    height: 168px;
    position: relative;
    margin: 0 auto 30px auto;
    object {
      transform: rotateZ(10deg) scale(1.1,1.1);
    }
  }
}