#intro{
  height: 100vh;
  min-height: 700px;
  max-height: 1200px;
  position: relative;
  background: linear-gradient(to bottom, #673AB7, #b200ff);
  padding: 30px 0;
  box-sizing: border-box;
  overflow: hidden;
  @include clearfix;
  @include media(0,600){
    padding: 15px 0 30px 0;
  }
  .belt{
    z-index: 1;
  }
  a.logo{
    color: #340d48;
    font-size: 27px;
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    float: left;
    line-height: 30px;
    text-transform: uppercase;
    font-family: $font-header;
    @include media(0,420){
      width: 200px;
    }
    @include media(0,800){
      float: none;
    }
    img{
      display: inline-block;
      margin: -4px 10px 0 0;
      vertical-align: middle;
      height: 50px;
    }
    &:hover{
      img{
        @include animation(rotation 2.5s linear infinite);
      }
    }
  }
  .text{
    position: absolute;
    top: 49%;
    left: 0;
    color: white;
    padding: 0 30px;
    @include translate(0, -50%);
  }
  h2{
    font-family: $font-header;
    font-size: 43px;
    line-height: 1.5;
    margin: 0;
    color: #d0d0d0;
    span{
      color: white;
      border-bottom: 2px solid;
    }
  }
  a.more{
    display: block;
    position: absolute;
    bottom: 5px;
    font-size: 19px;
    line-height: 55px;
    padding: 0 20px;
    color: black;
    transition: border-color 0.15s ease-in-out, color 0.15s ease-in-out;
    vertical-align: top;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 600;
    svg{
      margin: 18px 10px 0 0;
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
      width: 16px;
      height: 19px;
      g{
        transition: stroke 0.15s ease-in-out;
        stroke: black;
        stroke-width: 3;
      }
    }
    &:before{
      content: '';
      display: block;
      height: 0;
      width: 100%;
      background: #edf967;
      transition: height 0.3s ease-in-out;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
    &:hover{
      &:before{
        height: 100%;
      }
    }
  }
}