@include keyframes(slin){
  0% {
    @include translate3d(100%, 0, 0);
  }
  100% {
    @include translate3d(0, 0, 0);
  }
}



nav{
  display: none;
  margin: 0;
  position: fixed;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  top: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  bottom: 0;
  background: #333;
  width: 100%;
  max-width: 292px;
  @include animation(slin 0.3s);
  @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.94));
  ul{
    display: block;
    margin: 30px 0 0 0;
    li{
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  a{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    outline: none;
    color: white;
    font-family: $font-header;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    &:hover{
      color: #b751fd;
    }
  }
}

body > header{
  margin: 0 auto;
  max-width: 1100px;
  position: fixed;
  left: 0;
  right: 0;
  height: 1px;
  z-index: 10;
}

.menu-toggle{

  display: block;
  top: 15px;
  right: 10px;
  cursor: pointer;
  font-size: 34px;
  z-index: 100;
  padding: 29px 54px 32px 10px;
  position: absolute;
  transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 50px;
  outline: none;

  @include media(0,600){
    right: 10px;
    top: 10px;
  }

  span, span:before, span:after{
    cursor: pointer;
    height: 3px;
    width: 45px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  span{
    &:before{
      top: -14px;
    }
    &:after{
      bottom: -14px;
    }
  }

  &:hover{
    background: rgba(255,255,255,0.2);
  }

  &.active{
    span{
      background-color: transparent;
      &:before, &:after{
        top: 0;
        background-color: white;
      }
      &:before{
        @include rotate(45deg);
      }
      &:after{
        @include rotate(-45deg);
        width: 100%;
        right: auto;
      }
    }
    &:hover{
      background: rgba(0,0,0,0.2);
    }
  }
}