nav{
  display: none;
  margin: 0;
  position: fixed;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  top: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  background: rgba(251, 251, 251, 0.95);
  @include fadeIn(0.15s);
  ul{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 300px;
    @include translate(-50%, -50%);
    li{
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  a{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 70px;
    span{
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      color: #656565;
      transition: color 0.15s ease-in-out;
    }
    svg{
      display: inline-block;
      vertical-align: top;
      color: #c5c5c5;
      transition: fill 0.15s ease-in-out;
      fill: #464646;
    }
    &:hover{
      span{
        color: $color-base;
      }
      svg{
        fill: $color-base;
      }
    }
    &.about{
      svg{
        height: 39px;width: 50px;margin: 21px 12px 0 0;
        @include media(450){
          height: 46px;width: 50px;margin: 18px 15px 0 0;
        }
      }
    }
    &.contact{
      svg{
        width: 50px;height: 37px;margin: 23px 9px 0 0;
        @include media(450){
          width: 50px;height: 46px;margin: 21px 15px 0 0;
        }
      }
    }
    &.resume{
      svg{
        height: 38px;margin: 20px 10px 0 0;width: 50px;
        @include media(450){
          height: 46px;margin: 19px 15px 0 0;width: 50px;
        }
      }
    }
  }
  @include media(450){
    ul{
      width: 350px;
    }
    a{
      line-height: 80px;
      span{
        font-size: 27px;
      }
    }
  }
}

header{
  margin: 0 auto;
  max-width: 1100px;
  position: fixed;
  left: 0;
  right: 0;
  height: 1px;
  z-index: 10;
}

.menu-toggle{

  display: block;
  top: 40px;
  right: 31px;
  cursor: pointer;
  font-size: 34px;
  z-index: 100;
  padding: 20px 45px 22px 1px;
  position: absolute;

  span, span:before, span:after{
    cursor: pointer;
    height: 2px;
    width: 45px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  span{
    &:before{
      top: -13px;
    }
    &:after{
      bottom: -13px;
      width: 30px;
      right: 0;
    }
  }

  &:hover{
    span{
      &,&:before,&:after{
        background-color: $color-base;
      }
      &:after{
        width: 100%;
      }
    }
  }

  &.active{
    background-color: transparent;
    box-shadow: none;
    span{
      background-color: transparent;
      &:before, &:after{
        top: 0;
        background-color: #da465e;
      }
      &:before{
        @include rotate(45deg);
      }
      &:after{
        @include rotate(-45deg);
        width: 100%;
        right: auto;
      }
    }
    &:hover{
      span{
        &:before,&:after{
          background-color: #da1700;
        }
      }
    }
  }
}