@include keyframes(slin){
  0% {
    @include translate3d(100%, 0, 0);
  }
  100% {
    @include translate3d(0, 0, 0);
  }
}



nav{
  display: none;
  margin: 0;
  position: fixed;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  @include translate3d(0,0,0);
  top: 0;
  right: 0;
  z-index: 10;
  box-sizing: border-box;
  bottom: 0;
  background: #333;
  width: 292px;
  @include animation(slin 0.3s);
  @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.94));
  ul{
    display: block;
    margin: 30px 0 0 0;
    li{
      display: block;
      margin: 0;
      padding: 0;
    }
  }
  a{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    outline: none;
    color: white;
    font-family: $font-header;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    &:hover{
      color: $color-base;
    }
  }
  @include media(0,600) {
    width: 240px;
    a{
      font-size: 40px;
    }
  }
}

.menu-toggle{

  position: fixed;
  display: block;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 34px;
  z-index: 2;
  padding: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 50px;
  outline: none;
  background: $color-secondary;
  height: 65px;
  width: 65px;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  @include translate3d(0,0,0);
  @include animation(growALittle 0.5s);
  @include animation-easing(ease-in-out);

  span, span:before, span:after{
    cursor: pointer;
    height: 4px;
    width: 36px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    left: 50%;
    margin: -2px 0 0 -18px;
    top: 50%;
  }

  span{
    &:before{
      margin-top: -14px;
    }
    &:after{
      margin-top: 10px;
    }
  }

  &:hover{
    background: $color-base;
  }

  &.active{
    background: #333;
  }
}