&#project-marvel{
  background: #333;
  header{
    background: #262626;
    padding: 30% 0 0 0;
    overflow: hidden;
    img{
      max-height: none;
      height: 100%;
      width: auto;
      max-width: none;
    }
    @include media(0,800){
      height: 200px;
      padding: 0;
      img{
        display: none;
      }
      &:before{
        content: '';
        display: block;
        width: 212px;
        height: 76px;
        position: absolute;
        background: #f0141e url(/dist/img/logos/marvel-white.png) no-repeat center center;
        background-size: 94%;
        left: 50%;
        top: 50%;
        @include translate(-50%,-50%);
      }
    }
  }
  .img-container{
    background: url('../img/stripebg.svg'), #444;
    &.alt{
      background: url('../img/stripebg.svg'), #ccc;
    }
  }
  a.presentation{
    display: block;
    background: #eee;
    border: 1px solid #673AB7;
    box-shadow: #673ab7 1px 1px 0;
    margin: -5px 0 30px 0;
    font-size: 17px;
    line-height: 50px;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    svg{
      display: inline-block;
      background: #673ab7;
      stroke: none;
      height: 50px;
      width: 50px;
      margin: 0 20px 0 0;
      vertical-align: top;
    }
    &:hover{
      background: #ddd;
      color: #4d3294;
      border-color: #4d3294;
      box-shadow: #4d3294 1px 1px 0;
      svg{
        background: #4d3294;
      }
    }
  }
}