#popup .project {

  header{
    background: #272727;
    padding: 25px 30px;
    h1{
      color: white;
      font-size: 44px;
      margin: 0;
    }
    .button{
      font-size: 18px;
      line-height: 45px;
      margin: 1px 0 0 25px;
      vertical-align: top;
      color: white;
    }
  }

  .images{
    img {
      width: 100%;
      display: block;
      margin: 0;
    }
  }

  .text{
    background: white;
    padding: 30px 0;
    position: relative;
    @include clearfix;

    h3{
      margin: 0 0 35px 0;
      line-height: 1;
      font-size: 18px;
      color: #313131;
      position: relative;
      text-transform: uppercase;
      &:after{
        content: '';
        width: 29px;
        height: 1px;
        background: #d6d2d2;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }

    a.ext-link{
      text-transform: uppercase;
      font-size: 13px;
      line-height: 45px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #ddd;
      border-radius: 50px;
      padding: 0 20px;
      margin: 0 0 0 15px;
      color: #666;
      transition: all 0.2s ease-in-out;
      i{
        margin: 0 0 0 5px;
      }
      &:hover{
        color: $color-base;
        border-color: $color-base;
      }
      @include media(0,600){
        display: block;
        margin: 15px 0 0 0;
        border-radius: 0;
      }
    }

    section{
      margin: 0;
      padding: 0 30px;
      box-sizing: border-box;
      float: left;
      width: 50%;
      p{
        margin: 0 0 20px 0;
        line-height: 1.5;
        color: #636363;
        font-size: 17px;
        &:last-child{
          margin: 0 0 30px 0;
        }
      }
      @include media(0,750){
        width: 100%;
        float: none;
      }

      ul{
        margin: 0 0 30px 0;
        padding: 0;
        li{
          margin: 0 0 12px 0;
          display: block;
          padding: 0 0 0 20px;
          color: #636363;
          position: relative;
          line-height: 1.4;
          &:before{
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background: #b5b1b1;
            position: absolute;
            top: 6px;
            left: 0;
          }
        }
      }
    }
  }

  .images{
    background: white;
  }

  @import "popup.project.roadsign";
  @import "popup.project.marvel";
  @import "popup.project.advizr";
  @import "popup.project.ciro";
  @import "popup.project.nextemr";

}