&#project-roadsign{
  .text{
    text-align: left;
    h1{
      padding: 35px 30px 30px 30px;
    }
  }
  > img.ss{
    display: inline-block;
    vertical-align: top;
    margin: 3px;
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}