#popup .project {

  h1{
    background: black;
    color: white;
    margin: 0;
    padding: 10px 160px 11px 10px;
    font-size: 27px;
    line-height: 1.1;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    a.button{
      display: block;
      border: none;
      line-height: 50px;
      font-size: 17px;
      color: white;
      background: none;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      svg{
        fill: white;
        display: inline-block;
        vertical-align: middle;
        height: 19px;
        margin: 0 0 0 10px;
      }
      &:hover{
        background: #bd4dff;
      }
    }
  }

  .images{
    img {
      width: 100%;
      display: block;
      margin: 0;
    }
  }

  .text{
    background: white;
    padding: 30px 0;
    position: relative;
    @include clearfix;

    h2{
      margin: 0 0 25px 0;
      color: black;
    }

    i.icon{
      background: #ac53d6;
      height: 40px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      text-align: center;
      line-height: 40px;
      color: white;
      border-radius: 40px;
      font-size: 24px;
      &.blue{
        background: #5252ec;
      }
      &.green{
        background: #32ba6b;
      }
    }

    h3{
      margin: 0 0 35px 0;
      line-height: 1;
      font-size: 18px;
      color: #313131;
      position: relative;
      text-transform: uppercase;
      &:after{
        content: '';
        width: 29px;
        height: 1px;
        background: #d6d2d2;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }

    a.ext-link{
      text-transform: uppercase;
      font-size: 13px;
      line-height: 45px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #ddd;
      border-radius: 50px;
      padding: 0 20px;
      margin: 0 0 0 15px;
      color: #666;
      transition: all 0.2s ease-in-out;
      i{
        margin: 0 0 0 5px;
      }
      &:hover{
        color: $color-base;
        border-color: $color-base;
      }
      @include media(0,600){
        display: block;
        margin: 15px 0 0 0;
        border-radius: 0;
      }
    }

    section{
      margin: 0;
      padding: 0 30px;
      box-sizing: border-box;
      float: left;
      width: 50%;
      p{
        margin: 0 0 20px 0;
        line-height: 1.5;
        color: #636363;
        font-size: 17px;
        &:last-child{
          margin: 0 0 30px 0;
        }
      }
      @include media(0,750){
        width: 100%;
        float: none;
      }

      ul{
        margin: 0 0 30px 0;
        padding: 0;
        li{
          margin: 0 0 12px 0;
          display: block;
          padding: 0 0 0 20px;
          color: #636363;
          position: relative;
          line-height: 1.4;
          &:before{
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background: #b5b1b1;
            position: absolute;
            top: 6px;
            left: 0;
          }
        }
      }
    }
  }

  .images{
    background: white;
  }

  footer{
    background: #bdbdbd;
    padding: 20px;
    text-align: center;
    a{
      background: white;
      border: none;
      height: 55px;
      line-height: 55px;
      display: inline-block;
      svg{
        stroke: black;
        transform: rotateZ(-90deg);
        stroke-width: 4px;
        width: 14px;
        height: 47px;
        display: inline-block;
        vertical-align: top;
        margin: 3px 0 0 10px;
      }
      &:hover{
        background: #bd4dff;
      }
    }
  }

  @import "popup.project.roadsign";
  @import "popup.project.marvel";
  @import "popup.project.advizr";
  @import "popup.project.ciro";
  @import "popup.project.nextemr";

}