&#project-nextemr{
  background: #333;
  header{
    background: linear-gradient(to bottom right, #408aaf, #32ba6b);
    img{
      max-height: 90px;
    }
  }
  section{
    @include media(0,900){
      width: 100%;
      float: none;
    }
  }
}