&#project-roadsign{
  header{
    background: linear-gradient(to bottom right, #ffe7d7, #97aebc);
    img{
      height: 113%;
      max-height: 113%;
      width: auto;
      max-width: none;
      margin: -2px 0 0 0;
    }
  }
  .text{
    h1{
      padding: 35px 30px 30px 30px;
    }
  }
}