&#project-roadsign{
  text-align: center;
  background: white;
  header{
    background: linear-gradient(to bottom right, #ffe7d7, #97aebc);
    img{
      height: 80%;
      max-height: 80%;
      width: auto;
      max-width: none;
    }
  }
  .text{
    text-align: left;
    h1{
      padding: 35px 30px 30px 30px;
    }
  }
  > img.ss{
    display: inline-block;
    vertical-align: top;
    margin: 3px;
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}