#projects{
  padding: 0 10px;
  min-width: 320px;
  max-width: 1400px;
  position: relative;
  > article{
    border: 1px solid #ddd;
    float: left;
    width: 31%;
    margin: 0 1% 30px 1%;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    .img{
      height: 180px;
      border-bottom: 1px solid #ddd;
      position: relative;
      transition: all 0.15s ease-in-out;
      img{
        max-height: 45%;
        max-width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 0.15s ease-in-out;
        @include transform(translate(-50%,-50%));
      }
    }
    .years{
      height: 85px;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 26px;
      border-right: 1px solid #ddd;
      float: left;
      width: 100px;
      padding: 19px;
      line-height: 1em;
      color: #666;
      transition: all 0.15s ease-in-out;
    }
    .description{
      height: 85px;
      box-sizing: border-box;
      float: left;
      width: calc(100% - 100px);
      padding: 0 20px;
      transition: all 0.15s ease-in-out;
      h4{
        margin: 17px 0 0 0;
        line-height: 27px;
        height: 27px;
        font-weight: 400;
        font-style: italic;
        font-size: 17px;
        color: #333;
        @include ellipsify;
      }
      h5{
        margin: 0;
        line-height: 27px;
        height: 27px;
        font-weight: 600;
        font-size: 17px;
        color: #8e8e8e;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include ellipsify;
      }
    }
    &:hover{
      &, > div{
        border-color: #828282;
      }
      img{
        -webkit-filter: sepia(1);
        filter: sepia(1);
      }
    }
  }
}