#projects{
  position: relative;
  padding: 70px 0;
  box-sizing: border-box;
  @include clearfix;
  @include media(0,600){
    padding: 0;
  }
  .belt{
    @include media(0,600){
      padding: 0;
    }
  }
  article{
    width: 31.3333333333%;
    margin: 0 1% 111px 1%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: inline-block;
    .img{
      height: 235px;
      position: relative;
      background: #eee;
      overflow: hidden;
      img{
        max-height: 37%;
        max-width: 53%;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate3d(-50%,-50%, 0));
      }
      &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        width: 100%;
        height: 100%;
      }
      &:before{
        background: rgba(103, 58, 183, 0.9);
        z-index: 1;
      }
      &:after{
        z-index: 2;
        font-weight: 700;
        font-family: $font-header;
        color: #36ccfd;
        left: 20px;
        top: 20px;
        width: 44px;
        height: 44px;
        background-image:
        url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="-1 -1 52.966 52.966" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
<path stroke="#000" stroke-width="1" d="m51.704 51.273l-14.859-15.453c3.79-3.801 6.138-9.041 6.138-14.82 0-11.58-9.42-21-21-21s-21 9.42-21 21 9.42 21 21 21c5.083 0 9.748-1.817 13.384-4.832l14.895 15.491c0.196 0.205 0.458 0.307 0.721 0.307 0.25 0 0.499-0.093 0.693-0.279 0.398-0.383 0.41-1.016 0.028-1.414zm-29.721-11.273c-10.477 0-19-8.523-19-19s8.523-19 19-19 19 8.523 19 19-8.524 19-19 19z"/>
</svg>');
      }
    }
    .description{
      position: absolute;
      padding: 0 15px;
      margin: -10px 0 0 0;
      height: 115px;
      z-index: 10;
      p.tags{
        margin: 0 0 10px 0;
        font-weight: 700;
        font-family: $font-header;
        font-size: 14px;
        text-transform: uppercase;
        span{
          display: inline-block;
          line-height: 30px;
          padding: 0 8px;
          margin: 0 5px 5px 0;
          color: white;
          background: black;
        }
      }
      p.subtitle{
        margin: 0;
        color: #4e4e4e;
        font-size: 16px;
      }
    }
    @include media(601,1000){
      width: 48%;
      .img{
        height: 220px;
        img{
          max-height: 27%;
          max-width: 50%;
        }
      }
    }
    @include media(0,600){
      width: 100%;
      margin: 0 0 30px 0;
      .img{
        height: 230px;
        img{
          max-height: 28%;
          max-width: 40%;
        }
      }
    }
    &[data-id="marvel"]{
      .img{
        background: #ef0000;
      }
    }
    &[data-id="shutterstock"]{
      .img{
        background: url('/dist/img/shutterstock-bg.jpg') center center no-repeat;
        background-size: cover;
        img{
          max-width: 75%;
        }
      }
    }
    &[data-id="advizr"]{
      .img{
        background: #3c3c3c;
      }
    }
    &[data-id="ciro"]{
      .img{
        background: linear-gradient(to bottom right, #dcd9d9, #d8d8d8);
        img{
          max-height: 70px;
        }
      }
    }
    &[data-id="devotify"]{
      .img{
        background: #3e9391;
        img{
          max-height: 50%;
        }
      }
    }
    &[data-id="roadsign"]{
      .img{
        background: #88c15f;
        img{
          max-width: 73%;
          max-height: 68%;
        }
      }
    }
    &[data-id="nextemr"]{
      .img{
        background: #32ba6b;
      }
    }
    @include media(0,600){
      margin: 0;
    }
    &:hover{
      .img{
        &:before,&:after{
          opacity: 1;
        }
      }
      .description{
        opacity: 1;
      }
    }
  }
  .projects-container{
    @include clearfix;
    margin: 0 -1% 0 -1%;
    @include media(0,600){
      margin: 0;
    }
  }
}