#projects{
  margin: 0 auto;
  padding: 0 0 40px 0;
  position: relative;
  @include clearfix;
  article{
    float: left;
    width: 31%;
    margin: 0 1% 30px 1%;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    .img{
      height: 180px;
      position: relative;
      transition: all 0.15s ease-in-out;
      background: #eee;
      img{
        max-height: 33%;
        max-width: 52%;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: all 0.4s ease-in-out;
        @include transform(translate3d(-50%,-50%, 0));
      }
    }
    .description{
      p.title{
        margin: 17px 0 0 0;
        line-height: 28px;
        height: 28px;
        font-weight: 600;
        font-size: 16px;
        color: #333;
        transition: color 0.15s ease-in-out;
        @include ellipsify;
      }
      p.description{
        margin: 0;
        line-height: 30px;
        height: 30px;
        font-weight: 400;
        font-size: 15px;
        color: #8e8e8e;
        transition: color 0.15s ease-in-out;
        @include ellipsify;
      }
    }
    &:hover{
      &, > div{
        border-color: #444;
        color: #222;
        h4{
          color: black;
        }
        h5{
          color: #444;
        }
      }
    }
  }
  .projects-container{
    @include clearfix;
    margin: 0 -1%;
  }
}