#skills{
  position: relative;
  padding: 70px 0;
  box-sizing: border-box;
  @include clearfix;
  .belt{
    img{
      width: 193px;
      float: left;
      margin: 0 30px 70px 0;
      @include media(0,800){
        display: none;
      }
    }
    p{
      margin: 0 0 20px 0;
      font-size: 20px;
      line-height: 1.3;
      color: #444;
      font-weight: 500;
      &.secondary{
        font-size: 18px;
      }
    }
  }
}