@import "defines";
@import "fonts";

html, body {

  background: white;
  margin: 0;
  font-family: $font;

}

a, a:visited {

  color: $color-base;
  transition: color 0.1s ease-in-out;
  text-decoration: underline;

  &:hover {

    color: lighten($color-base, 10%);

  }

}

h1, h2, h3, h4, h5, h6 {

  font-family: $font-header;

}