@import "defines";
@import "fonts";

html, body {

  background: #1c1c1c;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

a, a:visited {

  color: $color-base;
  text-decoration: none;
  font-weight: 700;

  &:hover {

    color: #da1b60;
    text-shadow: none;
    border-bottom: 2px solid #ccc;

  }

}

h1, h2, h3, h4, h5, h6 {

  font-family: $font-header;
  font-weight: 700;

}