@import "defines";
@import "fonts";

html, body {

  background: white;
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}

a, a:visited {

  color: black;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background-image: linear-gradient(0deg, black, black);
  background-size: 3px 3px;
  background-repeat: repeat-x;
  background-position: bottom;

  &:hover {

    color: white;
    background-size: 40px 40px;

  }

}

h1, h2, h3, h4, h5, h6 {

  font-family: $font-header;
  font-weight: 700;

}