@import "helpers/animations";
@import "helpers/media";
@import "helpers/transform";
@import "helpers/misc";

$font: 'Roboto', Helvetica, sans-serif;
$serif-font: 'Source Serif Pro', serif;

$color-ec: #b05fd8;

$color-vkr-object: #3dc396;
$color-vkr-motive: #BF0063;
$color-vkr-goal: #aa0999;
$color-vkr-experience: #8b00ff;
$color-vkr-cause-effect: #434ab9;
$color-vkr-action: #3d92d6;