@mixin no-selection-highlight {

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */

}

@mixin clearfix {

  &:after {

    content: "";
    display: table;
    clear: both;

  }

}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin singleLineTruncate {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}