@import "../../styles/defines";

.default {

  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 225px;
  line-height: 225px;
  text-align: center;
  max-width: 650px;

  @include media(0, 400) {

    height: 180px;
    line-height: 180px;

  }

  img.fg {

    max-height: 37%;
    max-width: 53%;
    display: inline-block;
    vertical-align: middle;
    position: relative;

  }

  img.bg {

    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    min-height: 100%;

  }

  .seeDetails {

    background: rgba(0, 0, 0, 0.8);
    line-height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    margin: -20px 0 0 -100px;
    color: white;
    font-weight: 700;
    border-radius: 40px;
    font-size: 15px;
    opacity: 0;
    @include scale(0.93,0.93);
    transition: all 0.4s cubic-bezier(.3,.71,.44,1.02);

    i {

      margin: 0 5px 0 0;

    }

  }

  &.isHovering {

    .seeDetails {

      opacity: 1;
      @include scale(1,1);

    }

  }

}