@import "../../styles/defines";

.default {

  display: flex;
  margin: 0 0 20px 0;
  cursor: pointer;

  > div {

    width: 50%;

  }

  &:hover {

    .text {

      h4 {

        color: $color-secondary;

      }

    }

  }

}

.text {

  color: #ddd;
  padding: 0 20px 0 40px;

  h4 {

    margin: 0 0 20px 0;
    font-size: 30px;
    transition: 0.1s ease-in-out;

  }

}

.tags {



}

.tag {

  display: inline-block;
  padding: 0 7px;
  font-size: 11px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  position: relative;
  box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;

}