@import "../../styles/defines";

.default {

  margin: 0 0 30px 0;
  cursor: pointer;
  padding: 10px 20px;
  box-sizing: border-box;

  @include media(0,600) {

    padding: 10px 0;

  }

  &:hover {

    .text {

      h4 {

        color: $color-secondary;

      }

    }

  }

}

.text {

  color: #ddd;
  padding: 20px 0 0 0;

  h4 {

    margin: 0 0 10px 0;
    font-size: 30px;
    transition: 0.2s ease-in-out;

  }

  h5 {

    font-size: 17px;
    margin: 0 0 10px 0;
    font-weight: 400;
    color: #666;

  }

}